.wrap_5 {
    margin-bottom: 20px;
}
.wrap_6 {
    margin-bottom: 20px;

}
.out-7 {
    background-color: rgb(71, 255, 80);
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.out6 {
    background-color: rgb(89, 71, 255);
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.block{
    background-color: tomato;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;

}