.block {
    width: 200px;
    height: 100px;
    border: 1px solid tomato;
    margin-bottom: 20px;
}
button {
    margin-bottom: 20px;
}
.i-5 {
    margin-bottom: 20px;

}

.s-9 {
    margin-bottom: 20px;

}
.wrap-10 {
    margin-bottom: 20px;

}